* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ccc;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.col {
  width: 50%;
  padding: 20px;
}

.text-wrap {
  width: 100%;

  h1 {
    font-size: 50px;
    font-weight: 600;
  }

  p {
    font-size: 18px;
  }
}

.row {
  display: flex;
  align-items: center;
}

.btn-wrap {
  li {
    list-style: none;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin-block: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
  }
}
